---
import GitHubRepo from "./svgs_components/GitHubRepo.astro";
import ViewDemo from "./svgs_components/Demo.astro";
const {titulo, descripcion, url, repo_url, imagen, techs} = Astro.props;
---


<div class="flex flex-col w-full p-2 px-4 gap-4 rounded-md md:flex-row">
	<div class="md:w-5/12">
			<h2 class="font-medium text-sm md:text-center"><strong>{titulo}</strong></h2>
			<img class="w-full rounded-md" src={imagen} alt=`imagen del proyecto ${imagen}`>
	</div>
	<div class="flex flex-col gap-4 md:w-7/12 md:pt-3">
		<p class="text-sm leading-relaxed">{descripcion}</p>
		<ul class="flex flex-wrap gap-4 justify-between  text-sm text-gray-400">
			{
				Array.isArray(techs) && techs.map(tech => (
				  <li class="text-center min-w-fit px-2 bg-green-100 rounded-md">{tech}</li>
				))
			}
		</ul>
		<div class="flex w-full justify-end gap-10">
			{
				repo_url && (<a class="text-sm text-gray-400 hover:text-blue-500 flex gap-1 items-center" href={repo_url} target="_blank">
					<p class="min-w-fit max-w-fit">Code Source</p>
					<GitHubRepo />
				</a>)
			}

			<a class="text-sm text-gray-400 hover:text-blue-500 flex gap-1 items-center" href={url} target="_blank">
				<p class="min-w-fit max-w-fit">Ver en vivo</p>
				<ViewDemo />
			</a>
		</div>
	</div>
</div>